# Dépendances
node_modules/

# Base de données
*.sqlite
*.sqlite3
*.db

# Variables d'environnement
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Systèmes d'exploitation
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
